* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 36px;
    text-align: center;
}

label {
    font-size: 16px;
    color: #999999;
    font-style: italic;
}

button {
    background-color: #089FE0;
    color: #FFFFFF;
}

.have_an_account {
    font-size: 18px;
}

.oferta {
    font-size: 14px;
    color: #666666;
}

.bodyLink {
    color: #4262FF;
}